<!DOCTYPE html>
<html class="theme-next mist use-motion" lang="zh-Hans">
  <!-- 加载header START  -->
  {% include header.html %}
  <!-- 加载header END  -->

      <!-- 博客主体 START -->
      <main id="main" class="main">
          <div class="main-inner">
            <div class="content-wrap">
              <div id="content" class="content"> 
                  {{ content }}
                </div>
              </div>
            </div>
        </main>
         <!-- 博客主体 END -->
         
      </div>
      {% include footer.html %}
    </body>  
    {% include load-js.html %}    
  </html>